<!DOCTYPE html>
<html lang="es">
<!-- HOLA PROBANDO -->
<!-- Include Head -->
<%-include("./partials/head.ejs")%> 
<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
<img src="/images/banner3.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Restaurantes</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% productos.forEach(element => { %> 

			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/<%= element.id %> ">
						<figure class="product-box_image">
							<img src="<%= element.image %>" alt="">
						</figure>
						<article class="product-box_data">
							<h2><%= element.nombre %></h2>
							<p><%= element.descripcion %></p>
							<p>Comentarios: 4 </p>
						</article>
					</a>
				</section>
			</div>

			<% }) %> 
			
		</div>
	</div>
	
	<!-- /Más comentados -->


	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>	
</html>