<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%> 
<!-- Header -->
<%-include("./partials/header.ejs")%>
<!-- /Header -->

<body>

	
	
	<!-- Banner -->
	<div class="banner">
<img src="/images/banner3.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
				<!--<a href="">-->	
						<figure class="product-box_image">
							<img src="/images/products/alos2.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>¡NUEVO RESTAURANTE!</h2>
							<p>Conoce Alo's, no te lo pierdas!.</p>
						
						</article>
					<!--</a>-->
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<!--<a href="/product">-->
						<figure class="product-box_image">
							<img src="/images/products/mudra3.jpeg" alt="c">
						</figure>
						<article class="product-box_data">
							<h2>2X1 en Mudra Plant Based</h2>
							<p>2X1 todos los martes y jueves para el almuerzo.</p>
						
						</article>
					<!--</a>-->
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<!--<a href="/product">-->
						<figure class="product-box_image">
							<img src="/images/navidad-oferta.jpeg" alt="">
						</figure>
						<article class="product-box_data">
							<h2>¡cupon de $2000 de navidad!</h2>
							<p>¡Registrate y te regalamos un cupon navideño de $2000!</p>
						
						</article>
					<!--</a>-->
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<!--<a href="/product">-->
						<figure class="product-box_image">
							<img src="/images/products/donjulio2.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2 class="product-box-nombre">conoce la nueva sucursal!</h2>
							<p>No te pierdas de conocer la nueva increible sucursal de Don Julio. </p>
						
						</article>
					<!--</a>-->
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Nustras Recomendaciones</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for (let i = 0; i < productos.length; i++) { %> 

			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/<%= productos[i].id %> ">
						<figure class="product-box_image">
							<img src="<%= productos[i].image %>" alt="">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[i].nombre %></h2>
							<p><%= productos[i].descripcion %></p>
							<p>Comentarios: 4 </p>
						</article>
					</a>
				</section>
			</div>

			<% } %> 
			
		</div>
	</div>
	
	<!-- /Más comentados -->


	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>	
</html>