<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

<div class="seccionprincipal"> 
	
	
			<!-- product detail  -->

	<div class="container products-wrapper">
	
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%= producto.nombre %></h2> 
			<p class="product-detail-description">
				<form class="tablaRegistracion" action="/modificar" method="GET">
					<input type="hidden" name="id" value="<%= producto.id %>">
					<input class="actualizar-perfil"  type="submit" value="Modificar">
				  </form>
				  <form class="tablaRegistracion" action="/borrar" method="POST">
					<input type="hidden" name="id" value="<%= producto.id %>">
					<input  class="actualizar-perfil" type="submit" value="Borrar">
				  </form>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.image %> " alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= producto.descripcion %>  </p>
				</article>


				<div class="col-12 col-lg-4">
					<section class="comments">
      
				<% producto.comentarios.forEach(element => { %>
			
						<article>
					
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
						<div class="data">
							<div class="user">
								<p> <%= element.usuarios.nombre %> <%= element.usuarios.apellido %></p>
								<strong> <a href="/profile/<%=element.user_id %> "><%=element.texto %> </a> </strong>
							
							</div>
							</div>
			
						</article>
						<% }) %> 
			<!--CORREGIR ESTO PAR que anden el detalle con los comentarios etc -->
					

				</section>
					<form class="form" action="/comentario" method="POST">
						
						<li>
							<input class="form-input" type="text"  name="texto" placeholder="Agregar comentario">
						</li>
						<li>
							<input  type="hidden" name="id" value="<%= producto.id %> ">
						</li>
						<li>
							<button class="actualizar-perfil"type="submit" class="buy-now-button" type="submit"> AGREGAR COMENTARIO</button>

							
						</li>
						
						
					</form>
					
					<hr>
				</div>
			</div>
		</div>
	
	</div>
	
	<!-- /product detail  -->

	
	</div>
	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->

</body>	
</html>
