<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

<div class="seccionprincipal"> 
	
	<!--<for (let i = 0; i<productos.lenght; i++)-->
			<!-- product detail  -->

	<div class="container products-wrapper">

		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%= productos[idSearch].nombre %></h2> 
			<p class="product-detail-description">
				<a href="/add">Agregar Producto</a>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= productos[idSearch].imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= productos[idSearch].descripcion %>  </p>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">

					<!--<% for (let i=0; i< productos[idSearch].comentarios.search; i++ ) { %> 
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
							<p class="user">
								<strong> <a href="/profile"> <%= productos[idSearch].comentarios[i].usuario %> </a> </strong>
								<%= productos[idSearch].comentarios[i].comentario %>
							</p>
							</div>
						</article>
						<% } %> -->

						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Ana Gimenez </a> </strong>
									Un lugar distinto, altamente recomendable. Comida fusi贸n Arg-Jap贸n con algo de picante y salsa agridulces. </p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Luisa Bengolea</a> </strong>
									Excelente lugar para probar sabores distintos. Platos completamente distintos a los que prob茅. Sabores muy suaves que en combinaci贸n son incre铆bles. La atenci贸n de 10 tambi茅n. Super recomendable.
									</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Marina Lafourcade </a> </strong>
									Muy rica la comida, un lugar para ir una vez a comer algo distinto y una ocasion especial ya que el precio es un poco elevado.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Indira Josefa </a> </strong>
									Vale la pena conocerlo sin dudas, aunque los valores de los platos est谩n por encima de la media, la comida es incre铆ble y vale cada centavo pagado.</p>
							</div>
						</article>-->

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /product detail  -->

	
	</div>
	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->

</body>	
</html>
