<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>


<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil </h2>
			</div>

	
			<div class="form-registracion">
				<h2 class="col-12"> 
					<% if (error) {%> 
						<p class="alert"> <%= error %> </p>
						<% } %> 
					<form class="tablaRegistracion" action="/profile-edit" method="POST" enctype="multipart/form-data" > 
						<ul class= "registracionItems">
						  
							<li class="bordearDiferente"> 
							<!--<label class="form-label" for="nombre">Nombre:</label> -->
							<input class="form-input" type="nombre" placeholder="Nombre" name="nombre" value="<%= usuario.nombre %>">
						   
						 </li>
						 <li class="bordear">
							<!-- <label class="form-label" for="apellido">Apellido:</label>-->
							 <input class="form-input" type="apellido" placeholder="Apellido"name="apellido" value="<%= usuario.apellido  %>" >
						 </li>
						 <li class="bordear">
							<input type="hidden" name="id"  value="<%= usuario.id  %> ">
						</li>
						
		
						 <li class="bordear">
							<!--- <label class="form-label" for="mail">Correo electrónico:</label> -->
							 <input class="form-input" type="mail"  placeholder="Correo electrónico" name="mail" value="<%= usuario.mail  %>">
						 </li>
	
						 <li class="bordear">
							<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
							 <input class="form-input" type="telefono"  placeholder="Telefono celular" name="telefono" value="<%= usuario.telefono%>" >
						 </li>
						 <li class="bordear">
							<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
							 <input class="form-input" type="date"  placeholder="Fecha de nacimiento" name="fecha"  value="<%= usuario.fecha %>">
						 </li>
						 <li class="bordear">
							<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
							<input class="form-input" type="file" placeholder="Imagen" name="edit-image" value="<%= usuario.image %>">
						 </li>
						 <li class="bordear">
							<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
							 <input class="form-input" type="password" placeholder="Contraseña" name="contraseña"  >
						 </li>
		
	
						 <button class="actualizar-perfil" type="submit" value="Register"> Editar Perfil</button>
		
					   </ul>
					  </form>
				</h2>
			</div>

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>