<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>


<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			
			<!-- Show the "ultimos" products -->

			<% if (results == undefined || results == 0) {%>
				<p class="resultados">No se han encontrado resultados</p>

				<% }%>
			<% results.forEach(productos => { %> 
				<div class="col-12">
					<h2 class="products-title">Resultados de búsqueda</h2>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= productos.id %> ">
							<figure class="product-box_image">
								<img src="/images/products/<%= productos.image %>" alt="">
							</figure>
							<article class="product-box_data">
								<h2><%= productos.nombre %></h2>
								<p><%= productos.descripcion %></p>
								<p>Comentarios: 4 </p>
							</article>
						</a>
					</section>
				</div>
	
				<% }) %> 

		

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>